.cat-container {
    display:flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    .card {
        width: 35rem;
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: stretch;
        flex-wrap: wrap;
        flex-direction: column;
        border: 1px solid #ccc;
        border-radius: 15px;
    } 
    .buttonsStyle {
        margin-left: 200px;
        align-items: center;
    }  
    .cat {
        color: red;
    }
}
@media (max-width: 768px) {
    .cat-container {
        .card {
            width: 28rem;
            margin: 0.5rem;
            padding: 0.5rem;
            border-radius: 20px; 
        }
    }
}